/*CSS Styles for the App component*/

/*parent styling, applying flexbox in parent, which 
wraps items*/
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  width: 40%;
  margin: auto;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 5px 5px rgba(59, 43, 91, 0.4),
              10px 10px rgba(59, 43, 91, 0.3),
              15px 15px rgba(59, 43, 91, 0.2),
              20px 20px rgba(59, 43, 91, 0.1),
              25px 25px rgba(59, 43, 91, 0.05);
}


