body {
	width: 100%;
	margin: auto;
}
p {
  font-size: 1.2rem;
  color: pink;
}


/*Makes the input elements and p elements one block*/
.smallerbox {
	display: inline-flex;
}

/*parent styling, applying flexbox in parent, which 
wraps smallerbox*/
.bigcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  flex-direction: column;
  margin-top: 15vh;
  }


