/*CSS Styles for the TodoItem component*/
p {
  font-size: 1.3rem;
  color: #AC6087;
  margin-left: 10px;

 }

/*Makes the INPUT elements and P elements  in a flexbox*/
.items {
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	border-bottom: 1.5px dotted pink;
	padding-top: 10px;
}
